body {
    font-family: 'Nunito Sans', 'Helvetica', sans-serif;
}

.navbar {
    background: #43e895;
    padding-top:1.5rem;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 3rem;
}

.map-icon {
    height: 35px;
    width:auto;
}

.restaurant-list {
    margin-bottom:80px;
    margin-top: 62px;
}

.restaurant-item {
    height:280px;
    cursor:pointer;
}

.restaurant-item h3, .restaurant-item h4 {
    color: #ffffff;
}

.restaurant-item h3 {
    font-weight: 600;
    font-size: 22px;
    position:relative;
}

.restaurant-item h4 {
    font-weight: 400;
    font-size: 18px;
    position:relative;
}

.restaurant-item-container, .restaurant-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.restaurant-meta {
    margin-left:10px;
}

.restaurant-detail {
    position:fixed;
    width:100%;
    margin-top: 62px;
    transition: all 400ms ease-in;
    background: #ffffff;
}

.restaurant-detail.transitioned {
    transform: translateX(0);
    opacity: 100%;
}

.restaurant-detail.transitioning {
    transform: translateX(100%);
    opacity: 0;
}

.restaurant-detail-meta {
    background-color: #34b379;
    color: #ffffff;
    padding: 25px;
}

.restaurant-detail-contact {
    padding:15px;
    font-size: 20px;
}

.map-container {
    min-height: 300px;
}

.restaurant-map {
    position:relative;
    top:10px;
}

footer {
    bottom:0;
    left:0;
    right:0;
    position: fixed;
    background-color: #2a2a2a;
}

footer h4 {
    color: #ffffff;
    font-size:14px;
}

footer img {
    width: 30px;
    height: auto;
}

.footer-item {
    padding-top:20px;
}

.lunch img {
    position:relative;
    left:3px;
    top:-4px;
    margin-bottom:3px;
}

.internets img {
    position:relative;
    left:9px;
    top:-6px;
}

@media (max-width: 760px) {
    .d-flex.main-container {
        flex-direction:column;
    }

    .restaurant-list {
        margin-bottom: 0;
    }

    .restaurant-detail-container {
        z-index:10;
        position:fixed;
        top:0;
        left:0;
    }

    .restaurant-detail {
        height:100%;
    }
}